 .cabecalho {
    background-color: blue;
 }

tbody>tr {
 background-color: cornflowerblue;
 color: white;
}

.container {
    background-color: black;
    color: white;
    width: 100vw;
    font-size: 40px;
}
h1 {
    font-size: 20px;
    background-color: darksalmon;
}
h2 {
    font-size: 30px;
    background-color: blanchedalmond;
}

